$accent-1: #da7000; // Текст на фоне @color-light-mandarine
$accent-2: #ff890c; // Кнопки “Call to action”, выбранные контролы, фон инфо-бэджей, иконки в некритичных алертах
$accent-3: #ff9f3a; // Ховер “Call to action”
$accent-4: #ffd5a9; // Светлая заливка в контролах, фокус-обводка полей ввода и т.п
$accent-5: #fff6ed; // Фон предупреждающих алертов

$primary-1: #0aa63f; // Нажатое состояние кнопок, цвет ссылок
$primary-2: #17bb4f; // Основной цвет Кнопки “Создать” / “Отправить” / “Подключить” и т.п., текст активного пункта меню в навигации, прочие цветовые акценты
$primary-3: #3ed170; // Hover на внешних ссылках и на кнопках
$primary-4: #b4e9c6; // Состояние Disabled
$primary-5: #ebf9f0; // Ховер в пунктах меню, строках таблиц
$primary-6: #52b13a;

//SBBOL button colors
$primary-sbbol-1: #107f8c;
$primary-sbbol-2: #21a19a;
$primary-sbbol-3: #005e7f;
$primary-sbbol-4: #94f1da;

$secondary-1: #1358bf; // Текстовые ссылки, акцент инфо-алертов
$secondary-3: #198cfe; // Ховер на внутренних ссылках и на кнопках
$secondary-4: #93b7ed; // Ссылка disable
$secondary-6: #f2f8ff; // Фон инфо-алертов

$error-1: #d0021b; // Критические алерты, ошибки, состояние Pressed
$error-2: #f7142f; // Алерт-кнопка, состояние Default
$error-3: #ff6970; // Состояние Hover
$error-4: #ffbdc5; // Состояние Disabled
$error-5: #fff2f2; // Фон критических алертов
$error-6: #d84933;

$black-1: #000000; // Заголовки, стандартный цвет текста, активные пункты табов и т.д
$black-2: #4a4a4a; // Ссылки во втором уровне меню
$black-3: #74797c; // Ссылки в меню
$black-4: rgba(
    #aab2b7,
    0.8
); // Table head, подписи, плейсхолдеры, фон серых заполненных кнопок, вспомогательные ссылки
$black-4-opaque: #bbc1c5; // Непрозрачная версия Black 04 для иконок
$black-5: #d0d7dd; // Разделители, границы инпутов, границы таблиц
$black-6: #e4e8eb; // Фон второго уровня меню и сторис
$black-7: #f3f5f7; // Фон в состоянии Disabled и правом сайдбаре на главной странице
$black-8: #fbfbfd; // Фон для хедера страницы
$black-9: #a7afb4cc; // Иконки
$black-10: #e5e5e5; // Бордеры
$black-11: #f5f5f5; // Ховер у таблиц
$black-12: #8c8f93;
$black-13: rgba(167, 175, 180, 0.4);

$white: #ffffff; // Фон, текст на цветных кнопках

$opacity-9: 0.09; // Ховер в пунктах меню, строках таблиц
$opacity-16: 0.16; // Заливка страницы при открытом lightbox’е
$opacity-32: 0.32; // Просмотренные сторис, неактивные элементы
$opacity-56: 0.56; // Тень кнопок

$shadow-1: #303561;
$shadow-2: $black-5;

// Градиент кнопки Все впродукты и услуги
$gradient-1: #edfff3;
$gradient-2: #f4ffe8;
// hover
$gradient-3: #d9ffe5;
$gradient-4: #e6ffcc;
