// Overlapping content 1 layer
$z-index-1: 1;
// Overlapping content 2 later
$z-index-2: 2;
// TODO: notifications over modals?
// Notifications
$z-index-3: 3;
// Modals
$z-index-4: 4;
// Dropdowns, tooltips
$z-index-5: 5;
