@import 'src/styles/index';

.title {
    &--size {
        &-xs {
            margin: 0 0 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        &-s {
            margin: 0 0 8px;
            font-size: 16px;
            line-height: 1;
        }
        &-m {
            margin: 0 0 16px;
            font-size: 16px;
            line-height: 1;
        }
        &-l {
            margin: 0 0 24px;
            font-size: 20px;
            line-height: 1;
        }
    }

    .title--content {
        align-items: center;
        display: inline-flex;
        padding-right: 24px;
        position: relative;
    }

    .title-tooltip {
        bottom: auto;
        position: relative;
        right: auto;
        margin-left: 4px;
    }
}
